<!DOCTYPE html>
<html>
    <body>
        <h1>Daily Alert Provided by NotifyMePlease&trade;</h1>

        <br>

        <h2>Canada</h2>
        <p>Confirmed cases: <b>%s</b> people</p>
        <p>Deaths: <b>%s</b> people</p>
        <p>New cases: <b>%s</b></p>
        <p>The rate of infection: <b>%s</b></p>

        <br>

        <h2>Ontario</h2>
        <p>Confirmed cases: <b>%s</b> people</p>
        <p>Deaths: <b>%s</b> people</p>
        <p>New cases: <b>%s</b></p>
        <p>The rate of infection: <b>%s</b></p>
        <br>

        <a href="https://www.worldometers.info/coronavirus/">View live numbers...</a>

        <br>
        <br>
        <br>

        <footer style='color:grey'>
            &copy; Copyright: All rights reserved for the production and development of this service. No part of this
            product (SAAS) may be reproduced or transmitted in any form or by any means, electronic or mechanical, including photography and recording, 
            or by any information storage and retrieval system, without permission in writing from the developer.
            <br>
            This is a work of informative notifications. Enclosed information such as numbers, dates, sites, and indicents are subject to error and may be subject to 
            inaccuracy.
        </footer>
    </body>
</html>